@media (max-width: 500px) {
  h1 {
    font-weight: bold;
    font-size: 21px;
    margin: 5px;
  }
  h3 {
    font-size: 18px;
  }

  /* --login-- */
  .login-screen {
    margin-top: 100px;
  }
  .login-container {
    width: 90%;
  }

  /* --create quizz-- */
  .create-quizz-screen {
    width: 90%;
  }

  /* --single quizz-- */
  .single-quizz-screen {
    margin-top: 50px;
  }
  .single-quizz-screen p {
    font-size: 14px;
  }
  .single-quizz-screen h1 {
    display: none;
  }

  /* --endGame quizz-- */
  .end-game-screen {
    margin-top: 50px;
  }
  .end-game-screen h1 {
    display: none;
  }
  .result-container {
    flex-wrap: wrap;
  }
  .result-text-container {
    flex-grow: 1;
    margin: 5px;
  }
  .result-image-container {
    flex-grow: 1;
    margin: 10px;
  }
}

/* ---bottom required css--- */
.display-visible {
  opacity: 1;
}

.display-none {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
